<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cac.CamEmotion.dao.FaceAnalysisConfigMapper" >
  <resultMap id="BaseResultMap" type="com.cac.CamEmotion.model.FaceAnalysisConfig" >
    <id column="hostNo" property="hostno" jdbcType="INTEGER" />
    <result column="hostName" property="hostname" jdbcType="VARCHAR" />
    <result column="hostIp" property="hostip" jdbcType="VARCHAR" />
    <result column="cameraIp" property="cameraip" jdbcType="VARCHAR" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="camAddrM" property="camaddrm" jdbcType="VARCHAR" />
    <result column="camAddrA" property="camaddra" jdbcType="VARCHAR" />
    <result column="drawDisplay" property="drawdisplay" jdbcType="INTEGER" />
    <result column="faceRectangle" property="facerectangle" jdbcType="INTEGER" />
    <result column="recordingAudio" property="recordingaudio" jdbcType="INTEGER" />
    <result column="cameraFilterTime" property="camerafiltertime" jdbcType="INTEGER" />
    <result column="audio" property="audio" jdbcType="DOUBLE" />
    <result column="fillPolySize" property="fillpolysize" jdbcType="INTEGER" />
    <result column="fillPoly" property="fillpoly" jdbcType="VARCHAR" />
    <result column="processFrameRate" property="processframerate" jdbcType="INTEGER" />
    <result column="bufferSize" property="buffersize" jdbcType="INTEGER" />
    <result column="maxNumFaces" property="maxnumfaces" jdbcType="INTEGER" />
    <result column="faceConfig" property="faceconfig" jdbcType="INTEGER" />
    <result column="saveFrameImage" property="saveframeimage" jdbcType="INTEGER" />
    <result column="shareAddr" property="shareaddr" jdbcType="VARCHAR" />
    <result column="classroomId" property="classroomId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseResultMapExtend" type="com.cac.CamEmotion.model.FaceAnalysisConfigExtend" >
    <id column="hostNo" property="hostno" jdbcType="INTEGER" />
    <result column="hostName" property="hostname" jdbcType="VARCHAR" />
    <result column="hostIp" property="hostip" jdbcType="VARCHAR" />
    <result column="cameraIp" property="cameraip" jdbcType="VARCHAR" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="camAddrM" property="camaddrm" jdbcType="VARCHAR" />
    <result column="camAddrA" property="camaddra" jdbcType="VARCHAR" />
    <result column="drawDisplay" property="drawdisplay" jdbcType="INTEGER" />
    <result column="faceRectangle" property="facerectangle" jdbcType="INTEGER" />
    <result column="recordingAudio" property="recordingaudio" jdbcType="INTEGER" />
    <result column="cameraFilterTime" property="camerafiltertime" jdbcType="INTEGER" />
    <result column="audio" property="audio" jdbcType="DOUBLE" />
    <result column="fillPolySize" property="fillpolysize" jdbcType="INTEGER" />
    <result column="fillPoly" property="fillpoly" jdbcType="VARCHAR" />
    <result column="processFrameRate" property="processframerate" jdbcType="INTEGER" />
    <result column="bufferSize" property="buffersize" jdbcType="INTEGER" />
    <result column="maxNumFaces" property="maxnumfaces" jdbcType="INTEGER" />
    <result column="faceConfig" property="faceconfig" jdbcType="INTEGER" />
    <result column="saveFrameImage" property="saveframeimage" jdbcType="INTEGER" />
    <result column="shareAddr" property="shareaddr" jdbcType="VARCHAR" />
    <result column="classroomId" property="classroomId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    hostNo, hostName, hostIp, cameraIp, courseId, camAddrM, camAddrA, drawDisplay, faceRectangle, 
    recordingAudio, cameraFilterTime, audio, fillPolySize, fillPoly, processFrameRate, 
    bufferSize, maxNumFaces, faceConfig, saveFrameImage, shareAddr, classroomId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from face_analysis_config_tbl
    where hostNo = #{hostno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from face_analysis_config_tbl
    where hostNo = #{hostno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cac.CamEmotion.model.FaceAnalysisConfig">
    insert into face_analysis_config_tbl (hostNo, hostName, hostIp, 
      cameraIp, camAddrM, camAddrA, 
      drawDisplay, faceRectangle, recordingAudio, 
      cameraFilterTime, audio, fillPolySize, 
      fillPoly, processFrameRate, bufferSize, 
      maxNumFaces, faceConfig, saveFrameImage, 
      shareAddr, classroomId)
    values (#{hostno,jdbcType=INTEGER}, #{hostname,jdbcType=VARCHAR}, #{hostip,jdbcType=VARCHAR}, 
      #{cameraip,jdbcType=VARCHAR}, #{camaddrm,jdbcType=VARCHAR}, #{camaddra,jdbcType=VARCHAR}, 
      #{drawdisplay,jdbcType=INTEGER}, #{facerectangle,jdbcType=INTEGER}, #{recordingaudio,jdbcType=INTEGER}, 
      #{camerafiltertime,jdbcType=INTEGER}, #{audio,jdbcType=DOUBLE}, #{fillpolysize,jdbcType=INTEGER}, 
      #{fillpoly,jdbcType=VARCHAR}, #{processframerate,jdbcType=INTEGER}, #{buffersize,jdbcType=INTEGER}, 
      #{maxnumfaces,jdbcType=INTEGER}, #{faceconfig,jdbcType=INTEGER}, #{saveframeimage,jdbcType=INTEGER}, 
      #{shareaddr,jdbcType=VARCHAR}), #{classroomId,jdbcType=INTEGER}
  </insert>
  <insert id="insertSelective" parameterType="com.cac.CamEmotion.model.FaceAnalysisConfig" useGeneratedKeys="true" keyProperty="hostno">
    insert into face_analysis_config_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hostno != null" >
        hostNo,
      </if>
      <if test="hostname != null" >
        hostName,
      </if>
      <if test="hostip != null" >
        hostIp,
      </if>
      <if test="cameraip != null" >
        cameraIp,
      </if>
      <if test="camaddrm != null" >
        camAddrM,
      </if>
      <if test="camaddra != null" >
        camAddrA,
      </if>
      <if test="drawdisplay != null" >
        drawDisplay,
      </if>
      <if test="facerectangle != null" >
        faceRectangle,
      </if>
      <if test="recordingaudio != null" >
        recordingAudio,
      </if>
      <if test="camerafiltertime != null" >
        cameraFilterTime,
      </if>
      <if test="audio != null" >
        audio,
      </if>
      <if test="fillpolysize != null" >
        fillPolySize,
      </if>
      <if test="fillpoly != null" >
        fillPoly,
      </if>
      <if test="processframerate != null" >
        processFrameRate,
      </if>
      <if test="buffersize != null" >
        bufferSize,
      </if>
      <if test="maxnumfaces != null" >
        maxNumFaces,
      </if>
      <if test="faceconfig != null" >
        faceConfig,
      </if>
      <if test="saveframeimage != null" >
        saveFrameImage,
      </if>
      <if test="shareaddr != null" >
        shareAddr,
      </if>
      <if test="classroomId != null" >
        classroomId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hostno != null" >
        #{hostno,jdbcType=INTEGER},
      </if>
      <if test="hostname != null" >
        #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="hostip != null" >
        #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="cameraip != null" >
        #{cameraip,jdbcType=VARCHAR},
      </if>
      <if test="camaddrm != null" >
        #{camaddrm,jdbcType=VARCHAR},
      </if>
      <if test="camaddra != null" >
        #{camaddra,jdbcType=VARCHAR},
      </if>
      <if test="drawdisplay != null" >
        #{drawdisplay,jdbcType=INTEGER},
      </if>
      <if test="facerectangle != null" >
        #{facerectangle,jdbcType=INTEGER},
      </if>
      <if test="recordingaudio != null" >
        #{recordingaudio,jdbcType=INTEGER},
      </if>
      <if test="camerafiltertime != null" >
        #{camerafiltertime,jdbcType=INTEGER},
      </if>
      <if test="audio != null" >
        #{audio,jdbcType=DOUBLE},
      </if>
      <if test="fillpolysize != null" >
        #{fillpolysize,jdbcType=INTEGER},
      </if>
      <if test="fillpoly != null" >
        #{fillpoly,jdbcType=VARCHAR},
      </if>
      <if test="processframerate != null" >
        #{processframerate,jdbcType=INTEGER},
      </if>
      <if test="buffersize != null" >
        #{buffersize,jdbcType=INTEGER},
      </if>
      <if test="maxnumfaces != null" >
        #{maxnumfaces,jdbcType=INTEGER},
      </if>
      <if test="faceconfig != null" >
        #{faceconfig,jdbcType=INTEGER},
      </if>
      <if test="saveframeimage != null" >
        #{saveframeimage,jdbcType=INTEGER},
      </if>
      <if test="shareaddr != null" >
        #{shareaddr,jdbcType=VARCHAR},
      </if>
      <if test="classroomId != null" >
        #{classroomId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cac.CamEmotion.model.FaceAnalysisConfig" >
    update face_analysis_config_tbl
    <set >
      <if test="hostname != null" >
        hostName = #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="hostip != null" >
        hostIp = #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="cameraip != null" >
        cameraIp = #{cameraip,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="camaddrm != null" >
        camAddrM = #{camaddrm,jdbcType=VARCHAR},
      </if>
      <if test="camaddra != null" >
        camAddrA = #{camaddra,jdbcType=VARCHAR},
      </if>
      <if test="drawdisplay != null" >
        drawDisplay = #{drawdisplay,jdbcType=INTEGER},
      </if>
      <if test="facerectangle != null" >
        faceRectangle = #{facerectangle,jdbcType=INTEGER},
      </if>
      <if test="recordingaudio != null" >
        recordingAudio = #{recordingaudio,jdbcType=INTEGER},
      </if>
      <if test="camerafiltertime != null" >
        cameraFilterTime = #{camerafiltertime,jdbcType=INTEGER},
      </if>
      <if test="audio != null" >
        audio = #{audio,jdbcType=DOUBLE},
      </if>
      <if test="fillpolysize != null" >
        fillPolySize = #{fillpolysize,jdbcType=INTEGER},
      </if>
      <if test="fillpoly != null" >
        fillPoly = #{fillpoly,jdbcType=VARCHAR},
      </if>
      <if test="processframerate != null" >
        processFrameRate = #{processframerate,jdbcType=INTEGER},
      </if>
      <if test="buffersize != null" >
        bufferSize = #{buffersize,jdbcType=INTEGER},
      </if>
      <if test="maxnumfaces != null" >
        maxNumFaces = #{maxnumfaces,jdbcType=INTEGER},
      </if>
      <if test="faceconfig != null" >
        faceConfig = #{faceconfig,jdbcType=INTEGER},
      </if>
      <if test="saveframeimage != null" >
        saveFrameImage = #{saveframeimage,jdbcType=INTEGER},
      </if>
      <if test="shareaddr != null" >
        shareAddr = #{shareaddr,jdbcType=VARCHAR},
      </if>
      <if test="classroomId != null" >
        classroomId = #{classroomId,jdbcType=INTEGER},
      </if>
    </set>
    where hostNo = #{hostno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cac.CamEmotion.model.FaceAnalysisConfig" >
    update face_analysis_config_tbl
    set hostName = #{hostname,jdbcType=VARCHAR},
      hostIp = #{hostip,jdbcType=VARCHAR},
      cameraIp = #{cameraip,jdbcType=VARCHAR},
      courseId = #{courseId,jdbcType=INTEGER},
      camAddrM = #{camaddrm,jdbcType=VARCHAR},
      camAddrA = #{camaddra,jdbcType=VARCHAR},
      drawDisplay = #{drawdisplay,jdbcType=INTEGER},
      faceRectangle = #{facerectangle,jdbcType=INTEGER},
      recordingAudio = #{recordingaudio,jdbcType=INTEGER},
      cameraFilterTime = #{camerafiltertime,jdbcType=INTEGER},
      audio = #{audio,jdbcType=DOUBLE},
      fillPolySize = #{fillpolysize,jdbcType=INTEGER},
      fillPoly = #{fillpoly,jdbcType=VARCHAR},
      processFrameRate = #{processframerate,jdbcType=INTEGER},
      bufferSize = #{buffersize,jdbcType=INTEGER},
      maxNumFaces = #{maxnumfaces,jdbcType=INTEGER},
      faceConfig = #{faceconfig,jdbcType=INTEGER},
      saveFrameImage = #{saveframeimage,jdbcType=INTEGER},
      shareAddr = #{shareaddr,jdbcType=VARCHAR},
      classroomId = #{classroomId,jdbcType=INTEGER}
    where hostNo = #{hostno,jdbcType=INTEGER}
  </update>
  
  <!-- 根据教室id更新课程id -->
  <update id="updateByPrimaryClassroomId" parameterType="com.cac.CamEmotion.model.FaceAnalysisConfig" >
    update face_analysis_config_tbl
    <set >
      <if test="hostname != null" >
        hostName = #{hostname,jdbcType=VARCHAR},
      </if>
      <if test="hostip != null" >
        hostIp = #{hostip,jdbcType=VARCHAR},
      </if>
      <if test="cameraip != null" >
        cameraIp = #{cameraip,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="camaddrm != null" >
        camAddrM = #{camaddrm,jdbcType=VARCHAR},
      </if>
      <if test="camaddra != null" >
        camAddrA = #{camaddra,jdbcType=VARCHAR},
      </if>
      <if test="drawdisplay != null" >
        drawDisplay = #{drawdisplay,jdbcType=INTEGER},
      </if>
      <if test="facerectangle != null" >
        faceRectangle = #{facerectangle,jdbcType=INTEGER},
      </if>
      <if test="recordingaudio != null" >
        recordingAudio = #{recordingaudio,jdbcType=INTEGER},
      </if>
      <if test="camerafiltertime != null" >
        cameraFilterTime = #{camerafiltertime,jdbcType=INTEGER},
      </if>
      <if test="audio != null" >
        audio = #{audio,jdbcType=DOUBLE},
      </if>
      <if test="fillpolysize != null" >
        fillPolySize = #{fillpolysize,jdbcType=INTEGER},
      </if>
      <if test="fillpoly != null" >
        fillPoly = #{fillpoly,jdbcType=VARCHAR},
      </if>
      <if test="processframerate != null" >
        processFrameRate = #{processframerate,jdbcType=INTEGER},
      </if>
      <if test="buffersize != null" >
        bufferSize = #{buffersize,jdbcType=INTEGER},
      </if>
      <if test="maxnumfaces != null" >
        maxNumFaces = #{maxnumfaces,jdbcType=INTEGER},
      </if>
      <if test="faceconfig != null" >
        faceConfig = #{faceconfig,jdbcType=INTEGER},
      </if>
      <if test="saveframeimage != null" >
        saveFrameImage = #{saveframeimage,jdbcType=INTEGER},
      </if>
      <if test="shareaddr != null" >
        shareAddr = #{shareaddr,jdbcType=VARCHAR},
      </if>
    </set>
    where classroomId = #{classroomId,jdbcType=INTEGER}
  </update>
  
   <select id="findList" resultMap="BaseResultMapExtend" parameterType="com.cac.CamEmotion.model.FaceAnalysisConfig" >
    select 
    <include refid="Base_Column_List" />
    from face_analysis_config_tbl where 1=1 
    <if test="hostno != null" >
    	and hostNo = #{hostno,jdbcType=INTEGER}
    </if>
    <if test="classroomId != null" >
    	and classroomId = #{classroomId,jdbcType=INTEGER}
    </if>
  </select>
  
</mapper>