<style>
.curr_class {
	display: none;
}
</style>
<div id="contrastApp">
	<div class="page-content">
		<div id="context"
			style="background: #fff; border-radius: 4px; border-top: 2px solid #2A8BA7;">
			<div class="model-box-title">
				<div class="modular-title">课堂对比-纵向</div>
			</div>
			<div class="form-horizontal">
				<div class="row">
					<div class="col-lg-4">
						<div class="con-form-item">
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-3 control-label form-label-title">学校</label>
								<div class="col-sm-9">
									<select class="form-control" v-model="searchData.schoolId">
										<option v-cloak v-for="school in schoolList"
											:value="school.id" v-text="school.schoolname"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-3 control-label form-label-title">授课类型</label>
								<div class="col-sm-4">
									<select class="form-control classNature-class"
										v-model="searchData.classNature" name="lesson-text">
										<option v-cloak v-for="option in classNatureList"
											v-bind:value="option.value" v-text="option.text"></option>
									</select>
								</div>
								<label for="inputEmail3" style="padding:8px 0px"
									class="col-sm-1 control-label form-label-title">学科</label>
								<div class="col-sm-4">
									<select class="form-control coursename-class"
										v-model="searchData.coursename" name="lesson-text">
										<option v-cloak class="my-option" v-for="option in courseList"
											v-bind:value="option.name" v-text="option.name"></option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="con-form-item">
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-3 control-label form-label-title">教师</label>
								<div v-if="searchData.teacherId == '0'" class="col-sm-9">
									<select class="form-control" v-model="searchData.teacherId">
										<option v-cloak v-for="teacher in teacherList"
											:value="teacher.id" v-text="teacher.teachername"></option>
									</select>
								</div>

								<div v-if="searchData.teacherId > 0" class="col-sm-7">
									<select class="form-control" v-model="searchData.teacherId">
										<option v-cloak v-for="teacher in teacherList"
											:value="teacher.id" v-text="teacher.teachername"></option>
									</select>
								</div>

								<label v-if="searchData.teacherId> 0" for="inputEmail3"
									class="col-sm-1 control-label glyphicon glyphicon-user"
									style="text-align: right; color: #5cb85c; font-size: 20px;"
									@click="GetTeacherInfo()"></label>
							</div>
							
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-3 control-label form-label-title">年级</label>
								<div class="col-sm-4">
									<select class="form-control gradeNo-class"
										v-model="searchData.gradeNo" name="lesson-text">
										<option v-cloak v-for="grade in gradeList" :value="grade"
											v-text="grade"></option>
									</select>
								</div>
								<label for="inputEmail3" style="padding:8px 0px"
									class="col-sm-1 control-label form-label-title">班级</label>
								<div class="col-sm-4">
									<select class="form-control classNo-class"
										v-model="searchData.classNo" name="lesson-text">
										<option v-cloak v-for="classno in classList" :value="classno"
											v-text="classno"></option>
									</select>
								</div>
							</div>

							
							
						</div>
					</div>

					<div class="col-lg-4">
						<div class="con-form-item">
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-3 control-label form-label-title">日期区间</label>
								<div class="col-sm-4">
									<input id="begintime" placeholder="请点击选择时间"
										v-model="searchData.begintime" readonly="" type="text"
										class="form-control">
								</div>
								<label for="inputEmail3"
									class="col-sm-1 control-label form-label-title">至</label>
								<div class="col-sm-4">
									<input id="endtime" placeholder="请点击选择时间"
										v-model="searchData.endtime" readonly="" type="text"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3"
									class="col-sm-3 control-label form-label-title">课堂内容</label>
								<div class="col-sm-9">
									<input class="form-control" v-model="searchData.coursecontents"
										placeholder="课堂内容">
								</div>
							</div>
						</div>

					</div>
					<div class="col-lg-12" style="text-align: center;">
						<div class="con-form-item">
							<div class="form-group">
								<button class="btn btn-success" @click="createReportData">生成报表</button>
							</div>
						</div>

					</div>
					<div class="col-lg-12">
						<div id='box'
							style="background: #fff; border-radius: 4px; min-height: 300px; width: 100%; margin-top: 20px;">
							<div style="width: 100%;">
									<!-- 活跃度气泡图  -->
									<div class="model-box cac-chart-bottom">
										<div class="model-box-title">
											<div class="modular-title">活跃度分析</div>
										</div>
										<div id="vs_valence_Bubble_ECharts" style="height: 250px;"></div>
									</div>
				
									<!-- 互动频率分析  -->
<!-- 									<div class="model-box cac-chart-bottom"> -->
<!-- 										<div class="model-box-title"> -->
<!-- 											<div class="modular-title">互动频率分析</div> -->
<!-- 										</div> -->
<!-- 										<div id="vs_interaction_Bubble_ECharts" style="height: 250px;"></div> -->
<!-- 									</div> -->
				
									<!-- 课堂情景分析  -->
									<div class="model-box cac-chart-bottom">
										<div class="model-box-title">
											<div class="modular-title">课堂情景分析</div>
										</div>
										<div id="vs_scene_Bubble_ECharts" style="height: 250px;"></div>
									</div>
								</div>
								
<!-- 							<div style="text-align: center; height: 300px;" -->
<!-- 								v-show='!ColumnarFlag'>未查询到相关信息</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 添加教师的模板信息 -->
	<div class="modal fade bs-example-modal-lg" id="teacherModal"
		tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">教师信息</h4>
				</div>

				<div class="modal-body">
					<div class="form-horizontal" style="padding-bottom: 15px;">
						<div>
							<!--                             <div class="form-title">基本信息</div> -->
							<div class="form-item">
								<div class="form-group">
									<div class="col-sm-3">
										<img :src="teacherInfo.headimgurl | headimgurl" alt="教师头像"
											class="img-thumbnail" style="width: 100%; height: 130px;">
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="inputEmail3"
												class="col-sm-3 control-label form-label-title"> <span
												style="color: red">*</span>姓名
											</label>
											<div class="col-sm-9">
												<!--                                                 <input v-model="teacherInfo.teachername" readonly="" type="text" class="form-control"> -->
												<div class="form-control background-teacher-model">{{teacherInfo.teachername}}</div>
											</div>
										</div>
										<div class="form-group">
											<label for="inputEmail3"
												class="col-sm-3 control-label form-label-title"> <span
												style="color: red">*</span>性别
											</label>
											<div class="col-sm-9">
												<!--                                                 <input v-model="teacherInfo.teachersex | teacherSex" readonly="" type="text" class="form-control"> -->
												<div class="form-control background-teacher-model">{{teacherInfo.teachersex
													| teacherSex}}</div>
											</div>
										</div>
										<div class="form-group">
											<label for="inputEmail3"
												class="col-sm-3 control-label form-label-title"> <span
												style="color: red">*</span>学历
											</label>
											<div class="col-sm-9">
												<!--                                                 <input v-model="teacherInfo.education | education" readonly="" type="text" class="form-control"> -->
												<div class="form-control background-teacher-model">{{teacherInfo.education
													| education}}</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-4">
										<div class="form-group">
											<label for="inputEmail3"
												class="col-sm-6 control-label form-label-title"> <span
												style="color: red">*</span>年龄
											</label>
											<div class="col-sm-6">
												<!--                                         <input readonly="" type="text" v-model="teacherInfo.birthdate" class="form-control"> -->
												<div class="form-control background-teacher-model">{{teacherInfo.birthdate
													| getAges}}</div>
												<div style="display: none;">{{teacherInfo.birthdate}}</div>
											</div>
										</div>
									</div>
									<div class="col-sm-1"></div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="inputEmail3"
												class="col-sm-6 control-label form-label-title"> <span
												style="color: red">*</span>教龄
											</label>
											<div class="col-sm-6">
												<!--                                         <input readonly="" type="text" v-model="teacherInfo.startworkdate" class="form-control"> -->
												<div class="form-control background-teacher-model">{{teacherInfo.startworkdate
													| getAges}}</div>
												<div style="display: none;">{{teacherInfo.startworkdate}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>